body {
    font-family:  sans-serif, arial, helvetica;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Estilo para o cabeçalho */
header {
    background-color: #a8be9bcc;
    color: rgb(50, 51, 51);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    max-width: 650px; /* Igual ao form */
    margin: 0 auto; /* Centraliza o header */
}

header h1 {
    font-size: 2em; /* Corrigido tamanho da fonte */
    margin-bottom: 10px;
    padding: 10px;
}

header a {
    color: #fff;
    text-decoration: underline; /* Corrigido o valor */
    font-size: 1.1em;
    margin-top: 10px;
    display: inline-block;
    transition: color 0.3s ease;
}
header a:hover {
    color: #336e3b;
}

main form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(100, 100, 100, 0.1);
    width: 100%;
    max-width: 650px;
    max-height:550px;
    margin: 0 auto;
}

main label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

main input, main select, main textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

main input:focus, main select:focus, main textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

main textarea {
    resize: vertical;
    height: 150px;
}

main button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

main button:hover {
    background-color: #45a049;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #806e6e;
}

footer p {
    margin-top: 10px;
}
